<div class="section gm-section pt-1">
    <div class="container">
        <h2 class="text-center my-4"> Catelog of Games </h2>
    
        <div class="row d-flex justify-content-around">
            <div class="card mb-4 pt-2 gm-card" *ngFor="let game of games" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title text-center gm-title">{{game.Title}}</h5>
                <a class="card-link" [routerLink]="['/show-game', game.Id]">
                    <img class="card-img-top mb-3" src="../../assets/images/controller.jpg" alt="Card image cap">
                </a>
                <div class="gm-cd-btm px-2 py-2">
                    <p class="card-text"><b>Platform: </b> {{game.Platform}}</p>
                    <p class="card-text"><b>Genre: </b> {{game.Genre}}</p>
                    <p class="card-text"><b>Year: </b> {{game.Year}}</p>
                    <p class="card-text"><b>Rating: </b> {{game.Rating}}</p>
                    <a [routerLink]="['/edit-game', game.Id]" class="btn btn-edit" style="margin-right: 20px;"> Edit </a>
                    <a [routerLink]="['/delete-game', game.Id]" class="btn btn-delete"> Delete </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>